.contact h3, .contact h4, .contact h5 {
    margin: 20px 0;

  }

  .contact {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    height: auto;
  }

.editbtn, .deletebtn{
    background-color: #4361ee;
    padding: 10px;
    border-radius: 5px;;
    border:1px solid black;
    width:80px;
    height: 40px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    margin-left: 15px;
}

span{
    color: #d4a373;
    margin-right: 6px;
}