.App {
  text-align: center;
}

h1{
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  text-shadow: 5px 5px 25px black;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem; 
}
.btn{
  border-radius: 10px;
  border:1px solid black;
  height: 250px;
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 2.5rem;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover{
  opacity: 1;
}

.back-btn{
  border-radius: 10px;
  border:1px solid black;
  height: 50px;
  width: 100px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.back-btn:hover{
  opacity: 1;
}
#createContactBtn{
  background-color: #5e60ce
}

#seeContactBtn
{
  background-color: #c77dff;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  
}

